@import "tailwindcss";
<<<<<<< HEAD
=======

/* ซ่อนลูกศรขึ้น-ลงของ input type=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* สำหรับ Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
>>>>>>> origin/admin-page
